<div class="centered">
  <form class="pure-form pure-form-stacked" method="POST" action="api/users">
    <div class="error"></div>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Enter your name">
      <label for="address">Street Address</label>
      <input type="text" name="address" placeholder="Enter your street address">
    </fieldset>
    <fieldset>
      <label for="email">Email address</label>
      <input type="email" name="email" placeholder="Enter email">
    </fieldset>
    <fieldset>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="********">
    </fieldset>
    <button type="submit" class="pure-button pure-button-primary">Sign Up</button>
  </form>
</div>