<div class="centered">
  <form class="pure-form pure-form-stacked" method="POST" action="api/tokens">
    <div class="error"></div>
    <fieldset>
      <label for="email">Email address</label>
      <input type="email" name="email" placeholder="Enter email">
    </fieldset>
    <fieldset>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="********">
    </fieldset>
    <button type="submit" class="pure-button pure-button-primary">Login</button>
  </form>
</div>