<table class="width-100 pure-table pure-table-striped">
  <thead>
    <tr>
      <th>Pizza Name</th>
      <th>Price</th>
      <th>Quantinty</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody id="cart"></tbody>
</table>
<br>
<p>Total: $<b id="total"></b></p>
<button class="pure-button button-success pure-button-disabled" id="pay">Checkout</button>
<div class="float-right">
  <button class="pure-button button-error pure-button-disabled" id="empty">Empty Cart</button>
</div>